
# ======= config_common ======= 
DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=localhost

LOGTAIL_SOURCE_TOKEN=

PANDAMA_DOMAIN=
PANDAMA_PDP_PREURL=store/product-detail

PAGE_SIZE_PRODUCT_LISTING=10
PAGE_SIZE_HOME_PAGE_NEW_SECTION=6
PAGE_SIZE_HOME_PAGE_TOP_SALE_SECTION=6
PAGE_SIZE_PRODUCT_DETAIL_REVIEW=5
PAGE_SIZE_WISHLIST_LISTING=10

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=pandama

S3_ACCESS_URL_PREFIX=

LOTUS_STORE_PITTS=83
LOTUS_STORE_US_WEST=87
LOTUS_STORE_US_EAST=84
LOTUS_SINGLE_PRODUCT_API_URL_PREFIX=https://www.lotusfoodonline.com/mall/goods/
LOTUS_PRODUCTS_BY_CATALOG_API_URL_PREFIX=https://www.lotusfoodonline.com/mall/goods

DYNAMIC_SYS_SETTINGS_KEY=sys_configs
DYNAMIC_SYS_SETTINGS_SPIDER_PRODUCT_PROCESS_CATALOG_IDS=SPIDER_PRODUCT_PROCESS_CATALOG_IDS
DYNAMIC_SYS_SETTINGS_SPIDER_PRODUCT_PROCESS_START_INDEX=SPIDER_PRODUCT_PROCESS_START_INDEX
DYNAMIC_SYS_SETTINGS_SPIDER_PRODUCT_PROCESS_BATCH_SIZE=SPIDER_PRODUCT_PROCESS_BATCH_SIZE
DYNAMIC_SYS_SETTINGS_LOCKER_SPIDER_ASYNC_PROCESS=LOCKER_SPIDER_ASYNC_PROCESS
DYNAMIC_SYS_SETTINGS_LOCKER_INDEX_ASYNC_PROCESS=LOCKER_INDEX_ASYNC_PROCESS

REDIS_SYSTEM_INIT_VALUE_SPIDER_PRODUCT_PROCESS_CATALOG_IDS=130,131,133,137,139,141,751,788,813,829,835,853
REDIS_SYSTEM_INIT_VALUE_REDIS_SPIDER_PRODUCT_PROCESS_START_INDEX=0
REDIS_SYSTEM_INIT_VALUE_SPIDER_PRODUCT_PROCESS_BATCH_SIZE=5
REDIS_SYSTEM_INIT_VALUE_LOCKER_SPIDER_ASYNC_PROCESS=0
REDIS_SYSTEM_INIT_VALUE_LOCKER_INDEX_ASYNC_PROCESS=0


# ======= config_db ======= 
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=pandama
DB_USER=pandama
DB_PASSWORD=pandama
DB_HOST=postgres
DB_PORT=5432

# ======= config_redis ======= 
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_AUTH=pandama

# ======= config_mongo ======= 
MONGO_HOST=mongodb:27017
MONGO_USER=pandama
MONGO_AUTH=pandama
MONGO_DB=pandama

# ======= config_es ======= 
ES_URL=http://elastic:pandama@elasticsearch:9200
ES_INDEX_PRODUCTS=products

# ======= config_mq ======= 
MQ_BROKER_URL=amqp://pandama:pandama@rabbitmq:5672

# ======= config_neo4j ======= 
NEO4J_URI=neo4j://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=pandama

# ======= config_apm ======= 
APM_SERVICE_NAME=pandama
APM_SECRET_TOKEN=
APM_SERVER_URL=http://apm:8200
APM_SERVICE_DEBUG=False


