{% extends "online-store/common/base.html" %}
{% load static %}
{% block header %}
      <div class="container h-100 d-flex align-items-center justify-content-between">
        <!-- Back Button-->
        <div class="back-button"><a onclick="goBack()"><i class="lni-arrow-left"></i>Back</a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">My Cart</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler d-flex justify-content-between flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
      </div>
{% endblock %}

{% block content %}
        <!-- Cart Wrapper-->
        <div class="cart-wrapper-area py-3">
          
          {% if cart %}
          <div class="cart-table card mb-3">
            <div class="table-responsive card-body">
              <table class="table mb-0">
                <tbody>
                  {% for sku in cart %}
                  <tr id="cart_sku_row_{{ sku.sku_number }}" class="cart_sku_row">
                    <th scope="row"><a class="remove-product" onclick="removeCartSku('{{ sku.sku_number }}')"><i class="lni-close"></i></a></th>
                    <td><img src="{{ product_img_prefix }}{{ sku.main_img }}" alt=""></td>
                    <td><a href="{% url 'store_products_product_detail_page' %}?product_number={{ sku.product_number }}&sku={{ sku.sku_number }}" style="
                      text-overflow: ellipsis;
                      overflow: hidden;
                      width: 30vw;
                      white-space: nowrap;
                      display: inline-block;
                  ">{{ sku.name }}<span id="unit_price_id_{{ sku.sku_number }}">{{ sku.current_price }}</span></a></td>
                    <td>
                      <div class="quantity">
                        <a onclick="updateCartQty('minus', '{{ sku.sku_number }}')" style="font-size: 11px; margin-left: -20px; margin-right: 5px;"><i class="fas fa-minus"></i></a>
                        <input id="qty_input_id_{{ sku.sku_number }}" class="qty-text" type="text" value="{{ sku.qty }}" disabled>
                        <a onclick="updateCartQty('add', '{{ sku.sku_number }}')" style="font-size: 11px; margin-left: 5px;"><i class="fas fa-plus"></i></a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  <!-- <tr>
                    <th scope="row"><a class="remove-product" href="#"><i class="lni-close"></i></a></th>
                    <td><img src="{% static 'online-store/img/product/6.jpg' %}" alt=""></td>
                    <td><a href="{% url 'store_page' page='single-product' %}">Bluetooth Speaker<span>$9.87 × 2</span></a></td>
                    <td>
                      <div class="quantity">
                        <input class="qty-text" type="text" value="2">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"><a class="remove-product" href="#"><i class="lni-close"></i></a></th>
                    <td><img src="{% static 'online-store/img/product/7.jpg' %}" alt=""></td>
                    <td><a href="{% url 'store_page' page='single-product' %}">Modern Gray Tops<span>$7 × 1</span></a></td>
                    <td>
                      <div class="quantity">
                        <input class="qty-text" type="text" value="1">
                      </div>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div> 
          {% else %}
          
          <div class="card mb-3 catagory-card">
           
            <img src="{% static 'online-store/img/core-img/empty_cart.svg' %}" alt="Empty Cart" style="max-height: 150px; margin-top: 50px; margin-bottom: 50px">
         
            <div>
              Not sure where to start? Check out our 
              <a href="{% url 'store_products_catalog_page' %}">
                Product Catalog
              </a>
              <br/><br/>
            </div>
          </div>
          {% endif %}

          <div class="card cart-amount-area">
            <div class="card-body d-flex align-items-center justify-content-between">
              <h5 class="total-price mb-0">$<span id="total_price" class="counter">{{ total_price|stringformat:".2f" }}</span></h5>
              {% if cart %}
              <a id="checkout_btn" class="btn btn-warning" href="{% url 'store_page' page='checkout' %}">Checkout Now</a>
              {% else %}
              <a id="checkout_btn" class="btn" style="color:white; background-color: gray" href="#" disabled>Checkout Now</a>
              {% endif %}
            </div>
          </div>
        </div>
{% endblock %}

{% block extrascripts %}
<script>
function updateCartQty(add, sku) {
  var curr_qty = parseInt($("#qty_input_id_" + sku).val());

  var latest_qty = 0;

  var unit_price = parseFloat($("#unit_price_id_" + sku).text());
  var total_price = parseFloat($("#total_price").text());
  var displayed_total_price = total_price;


  if (add == "add") {
    latest_qty = curr_qty + 1;
  } else if (add == "minus") {
    latest_qty = curr_qty - 1;
  } else {
    return;
  }

  if (latest_qty == 0) {
    $("#cart_sku_row_" + sku).remove();
    changeBtn();
  } else if (latest_qty < 0) {
    alertShow("warn", "Minimum quantity is 0");
    latest_qty = 0;
  } else if (latest_qty > 1000) {
    alertShow("warn", "Maximum quantity is 1000");
    latest_qty = 1000;
  }

  // Update the cart data using ajax
  $.ajax({
      type: "POST",
      url: "/store/cart/ajax-update",
      data: {"sku_number": sku, 
             "latest_qty": latest_qty, 
             "csrfmiddlewaretoken": getCSRFToken()},
      dataType: "json",
      error: function(json) {
        alertShow("error", "Failed to add to cart");
        return;
      }
  });

  // Display the updated data on the page
  displayed_total_price = displayed_total_price + unit_price * (latest_qty - curr_qty);
  setCartPrice(displayed_total_price);
  $("#qty_input_id_" + sku).val(latest_qty);

}

function removeCartSku(sku) {
  var curr_qty = parseInt($("#qty_input_id_" + sku).val());
  var unit_price = parseFloat($("#unit_price_id_" + sku).text());
  var total_price = parseFloat($("#total_price").text());

  displayed_total_price = total_price - curr_qty * unit_price;
  setCartPrice(displayed_total_price);


  // Update the cart data using ajax
  $.ajax({
      type: "POST",
      url: "/store/cart/ajax-update",
      data: {"sku_number": sku, 
             "latest_qty": 0, 
             "csrfmiddlewaretoken": getCSRFToken()},
      dataType: "json",
      error: function(json) {
        alertShow("error", "Failed to add to cart");
        return;
      }
  });

  $("#cart_sku_row_" + sku).remove();
  changeBtn();
}

function setCartPrice(price) {
  $("#total_price").text(price.toFixed(2));
}

function changeBtn() {
  skus = $(".cart_sku_row");
  if (skus.size() == 0) {
    if ($("#checkout_btn").attr("href")) {
      $("#checkout_btn").removeAttr("href");
      $("#checkout_btn").removeClass("btn-warning");
      $("#checkout_btn").text("Add Something");
    }
  }
}

</script>
{% endblock %}