{% extends "online-store/common/base.html" %}
{% load static %}

{% block header %}
      <div class="container h-100 d-flex align-items-center justify-content-between">
        <!-- Back Button-->
        <div class="back-button"><a onclick="goBack()"><i class="lni-arrow-left"></i>Back</a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">Payment Fail</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler d-flex justify-content-between flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
      </div>
{% endblock %}

{% block content %}
      <!-- Order/Payment Success-->
      <div class="order-success-wrapper" style="background:#A52A2A">
        <div class="content">
          <h5>Checkout Fail</h5>
            <p>Please check your balance. If it satisfies, we may out of stock.</p>
        </div>
      </div>
{% endblock %}