{% load product_tag %}
{% load static %}

<!-- Single Top Product Card-->
{% if not scroll_flag %}
<div class="col-6 col-sm-4">
{% endif %}
    <div class="card top-product-card mb-3">
      <div class="card-body">

        {% if tag_show_flag %}
        {% for tag in product.source.tag_array %}
            {% product_tag forloop.counter as margintop %}     
            
            {% if tag == 'new' %}
                <span class="badge badge-success" style="margin-top: {{ margintop }}px">{{ tag }}</span>
            {% elif tag == 'hot' %}
                <span class="badge badge-danger" style="margin-top: {{ margintop }}px">{{ tag }}</span>
            {% elif tag == 'bestseller' %}
                <span class="badge badge-warning" style="margin-top: {{ margintop }}px">{{ tag }}</span>
            {% else %}
                <span class="badge badge-primary" style="margin-top: {{ margintop }}px">{{ tag }}</span>
            {% endif %}
            

        {% endfor %}
        {% endif %}

        {% if product_flag %}
        <a class="wishlist-btn" onclick="addWishListDirectly(this, '{{ product.source.product_number }}')">
          <i class="far fa-heart text-danger"></i>
        </a>
        {% else %}
        <a class="delete-btn" onclick="removeFromWishList(this, '{{ product.source.product_number }}')">
          <i class="lni-trash"></i>
        </a>
        {% endif %}



        <a class="product-thumbnail d-block" href="{% url 'store_products_product_detail_page' %}?product_number={{ product.source.product_number }}">
          <img class="mb-2" src="{{ product_img_prefix }}{{ product.source.main_img }}" alt="{{ product.source.name }}" style="height: 150px" onerror="this.src='{% static "online-store/img/core-img/not_found.png" %}'">
        </a>
        <a class="product-title d-block" href="{% url 'store_products_product_detail_page' %}?product_number={{ product.source.product_number }}">
          <p style="
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: black;
            height: 3em">
          {{ product.source.name }}
          </p>
        </a>
        <p class="sale-price">${{ product.source.current_price }}<span>${{ product.source.original_price }}</span></p>
        <div class="product-rating">
          {% if product.source.avg_star <= 5 and product.source.avg_star >= 4.5 %}
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          {% elif product.source.avg_star < 4.5 and product.source.avg_star >= 3.5 %}
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          <i class="lni-star"></i>
          {% elif product.source.avg_star < 3.5 and product.source.avg_star >= 2.5 %}
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          <i class="lni-star"></i>
          <i class="lni-star"></i>
          {% elif product.source.avg_star < 2.5 and product.source.avg_star >= 1.5 %}
          <i class="lni-star-filled"></i>
          <i class="lni-star-filled"></i>
          <i class="lni-star"></i>
          <i class="lni-star"></i>
          <i class="lni-star"></i>
          {% elif product.source.avg_star < 1.5 and product.source.avg_star >= 0 %}
          <i class="lni-star-filled"></i>
          <i class="lni-star"></i>
          <i class="lni-star"></i>
          <i class="lni-star"></i>
          <i class="lni-star"></i>
          {% endif %}
        </div>
        
        {% if product.source.type == 'no_attr' %}
        <a class="btn btn-success btn-sm add2cart-notify" onclick="addCartDirectly('{{ product.source.sku_number_array.0 }}')" style="color: white;">
          <i class="lni-plus"></i>
        </a>
        {% endif %}
        
      </div>
    </div>
  {% if not scroll_flag %}
  </div>
  {% endif %}